<div class="combat-manager-app">
  <div class="combat-manager-create">
    <input
      type="text"
      data-combat-name
      placeholder="Combat name"
      value="{{combatName}}"
    />
    <button type="button" data-action="add-combat" {{#unless canAddCombat}}disabled{{/unless}}>
      Add Combat
    </button>
  </div>

  <div class="combat-manager-list">
    {{#if hasCombats}}
      {{#each combats}}
        <div
          class="combat-manager-row {{#if this.isSelected}}is-selected{{/if}}"
          data-action="select-combat"
          data-index="{{this.index}}"
        >
          <span class="combat-manager-name">{{this.name}}</span>
          <div class="combat-manager-controls">
            <span class="combat-manager-count">{{this.combatantCount}} combatants</span>
            <button
              type="button"
              class="combat-manager-icon-button"
              data-action="create-combat"
              data-index="{{@index}}"
              aria-label="Create combat"
            >
              <i class="fa-solid fa-swords"></i>
            </button>
            <button
              type="button"
              class="combat-manager-icon-button"
              data-action="delete-combat"
              data-index="{{@index}}"
              aria-label="Delete combat"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p class="combat-manager-empty">No combats saved for this scene.</p>
    {{/if}}
  </div>

  {{#if hasSelectedCombat}}
    <div class="combat-manager-combatants">
      <div class="combat-manager-combatants-header">
        <input
          type="text"
          class="combat-manager-selected-name-input"
          data-action="rename-selected-combat"
          value="{{selectedCombatName}}"
        />
        <div class="combat-manager-combatants-actions">
          <button type="button" data-action="select-combatants" aria-label="Select combatants">
            <i class="fa-solid fa-crosshairs"></i>
          </button>
          <button type="button" data-action="update-combat" aria-label="Update combat" {{#unless canUpdateCombat}}disabled{{/unless}}>
            <i class="fa-solid fa-floppy-disk"></i>
          </button>
        </div>
      </div>
      <div class="combat-manager-combatants-list">
        {{#each selectedCombatants}}
          <div class="combat-manager-combatant-row" data-combatant-id="{{this.id}}">
            <div class="combat-manager-combatant-main">
              <img src="{{this.image}}" alt="" />
              <span>{{this.name}}</span>
            </div>
            <div class="combat-manager-combatant-round">
              <div class="combat-manager-enabled-toggle">
                <input
                  type="checkbox"
                  data-action="set-combatant-enabled"
                  data-id="{{this.id}}"
                  {{#if this.enabled}}checked{{/if}}
                />
              </div>
              <input
                type="number"
                min="1"
                step="1"
                value="{{this.round}}"
                data-action="set-combatant-round"
                data-id="{{this.id}}"
              />
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</div>
